<nav>
	<a href="/">Hello Express</a>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/menu1">Menu1</a></li>
		<li><a href="/menu2">Menu2</a></li>
		<li><a href="/menu3">Menu3</a></li>
	</ul>
</nav>